<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome, <%= @user.name %></h1>
    <p>
      Thanks for registering on the site.
      <br/>
    </p>
  </body>
</html>