// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
	background: #FF9933;
    border-radius: 10px;
    border: 1px solid #FF9933;
    margin: 5px;
}
#body {

	background: #FF9933;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    margin: 5px;

}
#form{
	text-align: center;
}


